{% extends "_layouts/main.twig" %}

{% block content %}
    <section class="bio">
        <h1>About Me</h1>
        <p>Hi, I'm Anomi, the passionate traveler behind this blog. Here's a bit about me...</p>
        <img src="/images/pic.jpg" alt="Anomi">
        <p>All my life i dreamt of traveling the world. Go beyond the horizon. Go with me on this adventure while I blog write my thought
            and bundel the best locations.</p>
    </section>
{% endblock %}
